@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 1rem;
}

.top-bar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 14px;
    padding-bottom: 11rem;
    padding-top: 2rem;
    height: 100px;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

form {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 22px;
    background-color: whitesmoke;
    position: absolute;
    margin-top: 8rem;
    width: 800px;
}

form > button {
    margin-left: 12px;
    padding: 9px;
    border: 1px solid whitesmoke;
    border-radius: 2rem;
}

#add-book {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 9px;
}

.content-holder {
    border: 2px solid black;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.content-holder > p {
    font-size: 2rem;
}

.books {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

